NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/alucard-shop
JWT_SECRET=replace_with_strong_secret

CLIENT_URL=http://localhost:5173
ADMIN_CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3000

API_RATE_LIMIT=500

UPLOAD_METHOD=cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=